@page "/fetchdata"
@inject SampleDataAccess data

<PageTitle>Employee Directory</PageTitle>
<h1>Employee Directory</h1>

@if (employees is not null)
{
    foreach(var e in employees)
    {
        <h3>@e.FirstName @e.LastName</h3>
    }
}
else
{
    <h3>Loading...</h3>
}

@code {
    List<EmployeeModel> employees;

    //protected override void OnInitialized()
    //{
    //    employees = data.GetEmployees();
    //}

    //protected override async Task OnInitializedAsync()
    //{
    //    employees = await data.GetEmployeesAsync();
    //}

    protected override async Task OnInitializedAsync()
    {
        employees = await data.GetEmployeesCache();
    }
}
